/* yellowgreen yg #6f2f9e #421466 #210a33 */
#page.yellowgreen .forecolor { color: #6f2f9e; }
#page.yellowgreen .backcolor { color: #421466; }
#page.yellowgreen .accentcolor { color: #210a33; }
#page.yellowgreen #main > .corners div { background-image: url(/media/images/theme/gen/yg_corners_main.png); }
#page.yellowgreen #body { background: #6f2f9e; }
.yellowgreen a { color: #210a33; }
#page.yellowgreen #body > .corners div { background-image: url(/media/images/theme/gen/yg_corners_body.png); }
#page.yellowgreen #search_box { background: #fff url(/media/images/theme/gen/yg_search.png) no-repeat 0% scroll; }
#page.yellowgreen #login_submit { background: #fff url(/media/images/theme/gen/yg_login.png) no-repeat 0% scroll; }
#page.yellowgreen #login_signup { background: #fff url(/media/images/theme/gen/yg_signup.png) no-repeat 0% scroll; }
li.yellowgreen a { background-color: #6f2f9e; background-image: url(/media/images/theme/gen/yg_tab.png); }
#page.yellowgreen #menu li.yellowgreen { margin-left: 0; width: 130px }
#page.yellowgreen #submenu { background: #210a33; }
#page.yellowgreen #content_header { background: #421466; }
#page.yellowgreen #content_header > .corners div { background-image: url(/media/images/theme/gen/yg_corners_submenu.png); }
#page.yellowgreen #cross_link .inactive a { background-image: url(/media/images/theme/gen/yg_overtab.png); }
#page.yellowgreen #cross_link a { background-image: url(/media/images/theme/gen/yg_overtab_active.png); }

/* blue bl #666666 #333333 #000000 */
#page.blue .forecolor { color: #666666; }
#page.blue .backcolor { color: #333333; }
#page.blue .accentcolor { color: #000000; }
#page.blue #main > .corners div { background-image: url(/media/images/theme/gen/bl_corners_main.png); }
#page.blue #body { background: #666666; }
.blue a { color: #000000; }
#page.blue #body > .corners div { background-image: url(/media/images/theme/gen/bl_corners_body.png); }
#page.blue #search_box { background: #fff url(/media/images/theme/gen/bl_search.png) no-repeat 0% scroll; }
#page.blue #login_submit { background: #fff url(/media/images/theme/gen/bl_login.png) no-repeat 0% scroll; }
#page.blue #login_signup { background: #fff url(/media/images/theme/gen/bl_signup.png) no-repeat 0% scroll; }
li.blue a { background-color: #666666; background-image: url(/media/images/theme/gen/bl_tab.png); }
#page.blue #menu li.blue { margin-left: 0; width: 130px }
#page.blue #submenu { background: #000000; }
#page.blue #content_header { background: #333333; }
#page.blue #content_header > .corners div { background-image: url(/media/images/theme/gen/bl_corners_submenu.png); }
#page.blue #cross_link .inactive a { background-image: url(/media/images/theme/gen/bl_overtab.png); }
#page.blue #cross_link a { background-image: url(/media/images/theme/gen/bl_overtab_active.png); }

/* purple pu #915eba #6f2f9e #421466 */
#page.purple .forecolor { color: #915eba; }
#page.purple .backcolor { color: #6f2f9e; }
#page.purple .accentcolor { color: #421466; }
#page.purple #main > .corners div { background-image: url(/media/images/theme/gen/pu_corners_main.png); }
#page.purple #body { background: #915eba; }
.purple a { color: #421466; }
#page.purple #body > .corners div { background-image: url(/media/images/theme/gen/pu_corners_body.png); }
#page.purple #search_box { background: #fff url(/media/images/theme/gen/pu_search.png) no-repeat 0% scroll; }
#page.purple #login_submit { background: #fff url(/media/images/theme/gen/pu_login.png) no-repeat 0% scroll; }
#page.purple #login_signup { background: #fff url(/media/images/theme/gen/pu_signup.png) no-repeat 0% scroll; }
li.purple a { background-color: #915eba; background-image: url(/media/images/theme/gen/pu_tab.png); }
#page.purple #menu li.purple { margin-left: 0; width: 130px }
#page.purple #submenu { background: #421466; }
#page.purple #content_header { background: #6f2f9e; }
#page.purple #content_header > .corners div { background-image: url(/media/images/theme/gen/pu_corners_submenu.png); }
#page.purple #cross_link .inactive a { background-image: url(/media/images/theme/gen/pu_overtab.png); }
#page.purple #cross_link a { background-image: url(/media/images/theme/gen/pu_overtab_active.png); }

/* red re #999999 #666666 #333333 */
#page.red .forecolor { color: #999999; }
#page.red .backcolor { color: #666666; }
#page.red .accentcolor { color: #333333; }
#page.red #main > .corners div { background-image: url(/media/images/theme/gen/re_corners_main.png); }
#page.red #body { background: #999999; }
.red a { color: #333333; }
#page.red #body > .corners div { background-image: url(/media/images/theme/gen/re_corners_body.png); }
#page.red #search_box { background: #fff url(/media/images/theme/gen/re_search.png) no-repeat 0% scroll; }
#page.red #login_submit { background: #fff url(/media/images/theme/gen/re_login.png) no-repeat 0% scroll; }
#page.red #login_signup { background: #fff url(/media/images/theme/gen/re_signup.png) no-repeat 0% scroll; }
li.red a { background-color: #999999; background-image: url(/media/images/theme/gen/re_tab.png); }
#page.red #menu li.red { margin-left: 0; width: 130px }
#page.red #submenu { background: #333333; }
#page.red #content_header { background: #666666; }
#page.red #content_header > .corners div { background-image: url(/media/images/theme/gen/re_corners_submenu.png); }
#page.red #cross_link .inactive a { background-image: url(/media/images/theme/gen/re_overtab.png); }
#page.red #cross_link a { background-image: url(/media/images/theme/gen/re_overtab_active.png); }

/* orange or #c8adde #915eba #6f2f9e */
#page.orange .forecolor { color: #c8adde; }
#page.orange .backcolor { color: #915eba; }
#page.orange .accentcolor { color: #6f2f9e; }
#page.orange #main > .corners div { background-image: url(/media/images/theme/gen/or_corners_main.png); }
#page.orange #body { background: #c8adde; }
.orange a { color: #6f2f9e; }
#page.orange #body > .corners div { background-image: url(/media/images/theme/gen/or_corners_body.png); }
#page.orange #search_box { background: #fff url(/media/images/theme/gen/or_search.png) no-repeat 0% scroll; }
#page.orange #login_submit { background: #fff url(/media/images/theme/gen/or_login.png) no-repeat 0% scroll; }
#page.orange #login_signup { background: #fff url(/media/images/theme/gen/or_signup.png) no-repeat 0% scroll; }
li.orange a { background-color: #c8adde; background-image: url(/media/images/theme/gen/or_tab.png); }
#page.orange #menu li.orange { margin-left: 0; width: 130px }
#page.orange #submenu { background: #6f2f9e; }
#page.orange #content_header { background: #915eba; }
#page.orange #content_header > .corners div { background-image: url(/media/images/theme/gen/or_corners_submenu.png); }
#page.orange #cross_link .inactive a { background-image: url(/media/images/theme/gen/or_overtab.png); }
#page.orange #cross_link a { background-image: url(/media/images/theme/gen/or_overtab_active.png); }

/* yellow ye #cccccc #999999 #666666 */
#page.yellow .forecolor { color: #cccccc; }
#page.yellow .backcolor { color: #999999; }
#page.yellow .accentcolor { color: #666666; }
#page.yellow #main > .corners div { background-image: url(/media/images/theme/gen/ye_corners_main.png); }
#page.yellow #body { background: #cccccc; }
.yellow a { color: #666666; }
#page.yellow #body > .corners div { background-image: url(/media/images/theme/gen/ye_corners_body.png); }
#page.yellow #search_box { background: #fff url(/media/images/theme/gen/ye_search.png) no-repeat 0% scroll; }
#page.yellow #login_submit { background: #fff url(/media/images/theme/gen/ye_login.png) no-repeat 0% scroll; }
#page.yellow #login_signup { background: #fff url(/media/images/theme/gen/ye_signup.png) no-repeat 0% scroll; }
li.yellow a { background-color: #cccccc; background-image: url(/media/images/theme/gen/ye_tab.png); }
#page.yellow #menu li.yellow { margin-left: 0; width: 130px }
#page.yellow #submenu { background: #666666; }
#page.yellow #content_header { background: #999999; }
#page.yellow #content_header > .corners div { background-image: url(/media/images/theme/gen/ye_corners_submenu.png); }
#page.yellow #cross_link .inactive a { background-image: url(/media/images/theme/gen/ye_overtab.png); }
#page.yellow #cross_link a { background-image: url(/media/images/theme/gen/ye_overtab_active.png); }

/* lightgreen lg #e3d3f2 #c8adde #915eba */
#page.lightgreen .forecolor { color: #e3d3f2; }
#page.lightgreen .backcolor { color: #c8adde; }
#page.lightgreen .accentcolor { color: #915eba; }
#page.lightgreen #main > .corners div { background-image: url(/media/images/theme/gen/lg_corners_main.png); }
#page.lightgreen #body { background: #e3d3f2; }
.lightgreen a { color: #915eba; }
#page.lightgreen #body > .corners div { background-image: url(/media/images/theme/gen/lg_corners_body.png); }
#page.lightgreen #search_box { background: #fff url(/media/images/theme/gen/lg_search.png) no-repeat 0% scroll; }
#page.lightgreen #login_submit { background: #fff url(/media/images/theme/gen/lg_login.png) no-repeat 0% scroll; }
#page.lightgreen #login_signup { background: #fff url(/media/images/theme/gen/lg_signup.png) no-repeat 0% scroll; }
li.lightgreen a { background-color: #e3d3f2; background-image: url(/media/images/theme/gen/lg_tab.png); }
#page.lightgreen #menu li.lightgreen { margin-left: 0; width: 130px }
#page.lightgreen #submenu { background: #915eba; }
#page.lightgreen #content_header { background: #c8adde; }
#page.lightgreen #content_header > .corners div { background-image: url(/media/images/theme/gen/lg_corners_submenu.png); }
#page.lightgreen #cross_link .inactive a { background-image: url(/media/images/theme/gen/lg_overtab.png); }
#page.lightgreen #cross_link a { background-image: url(/media/images/theme/gen/lg_overtab_active.png); }

/* darkgreen dg #e6e6e6 #cccccc #999999 */
#page.darkgreen .forecolor { color: #e6e6e6; }
#page.darkgreen .backcolor { color: #cccccc; }
#page.darkgreen .accentcolor { color: #999999; }
#page.darkgreen #main > .corners div { background-image: url(/media/images/theme/gen/dg_corners_main.png); }
#page.darkgreen #body { background: #e6e6e6; }
.darkgreen a { color: #999999; }
#page.darkgreen #body > .corners div { background-image: url(/media/images/theme/gen/dg_corners_body.png); }
#page.darkgreen #search_box { background: #fff url(/media/images/theme/gen/dg_search.png) no-repeat 0% scroll; }
#page.darkgreen #login_submit { background: #fff url(/media/images/theme/gen/dg_login.png) no-repeat 0% scroll; }
#page.darkgreen #login_signup { background: #fff url(/media/images/theme/gen/dg_signup.png) no-repeat 0% scroll; }
li.darkgreen a { background-color: #e6e6e6; background-image: url(/media/images/theme/gen/dg_tab.png); }
#page.darkgreen #menu li.darkgreen { margin-left: 0; width: 130px }
#page.darkgreen #submenu { background: #999999; }
#page.darkgreen #content_header { background: #cccccc; }
#page.darkgreen #content_header > .corners div { background-image: url(/media/images/theme/gen/dg_corners_submenu.png); }
#page.darkgreen #cross_link .inactive a { background-image: url(/media/images/theme/gen/dg_overtab.png); }
#page.darkgreen #cross_link a { background-image: url(/media/images/theme/gen/dg_overtab_active.png); }

/* grey gr #d14b56 #82151e #000000 */
#page.grey .forecolor { color: #d14b56; }
#page.grey .backcolor { color: #82151e; }
#page.grey .accentcolor { color: #000000; }
#page.grey #main > .corners div { background-image: url(/media/images/theme/gen/gr_corners_main.png); }
#page.grey #body { background: #d14b56; }
.grey a { color: #000000; }
#page.grey #body > .corners div { background-image: url(/media/images/theme/gen/gr_corners_body.png); }
#page.grey #search_box { background: #fff url(/media/images/theme/gen/gr_search.png) no-repeat 0% scroll; }
#page.grey #login_submit { background: #fff url(/media/images/theme/gen/gr_login.png) no-repeat 0% scroll; }
#page.grey #login_signup { background: #fff url(/media/images/theme/gen/gr_signup.png) no-repeat 0% scroll; }
li.grey a { background-color: #d14b56; background-image: url(/media/images/theme/gen/gr_tab.png); }
#page.grey #menu li.grey { margin-left: 0; width: 130px }
#page.grey #submenu { background: #000000; }
#page.grey #content_header { background: #82151e; }
#page.grey #content_header > .corners div { background-image: url(/media/images/theme/gen/gr_corners_submenu.png); }
#page.grey #cross_link .inactive a { background-image: url(/media/images/theme/gen/gr_overtab.png); }
#page.grey #cross_link a { background-image: url(/media/images/theme/gen/gr_overtab_active.png); }

/* black bk #5b57ba #211464 #000000 */
#page.black .forecolor { color: #5b57ba; }
#page.black .backcolor { color: #211464; }
#page.black .accentcolor { color: #000000; }
#page.black #main > .corners div { background-image: url(/media/images/theme/gen/bk_corners_main.png); }
#page.black #body { background: #5b57ba; }
.black a { color: #000000; }
#page.black #body > .corners div { background-image: url(/media/images/theme/gen/bk_corners_body.png); }
#page.black #search_box { background: #fff url(/media/images/theme/gen/bk_search.png) no-repeat 0% scroll; }
#page.black #login_submit { background: #fff url(/media/images/theme/gen/bk_login.png) no-repeat 0% scroll; }
#page.black #login_signup { background: #fff url(/media/images/theme/gen/bk_signup.png) no-repeat 0% scroll; }
li.black a { background-color: #5b57ba; background-image: url(/media/images/theme/gen/bk_tab.png); }
#page.black #menu li.black { margin-left: 0; width: 130px }
#page.black #submenu { background: #000000; }
#page.black #content_header { background: #211464; }
#page.black #content_header > .corners div { background-image: url(/media/images/theme/gen/bk_corners_submenu.png); }
#page.black #cross_link .inactive a { background-image: url(/media/images/theme/gen/bk_overtab.png); }
#page.black #cross_link a { background-image: url(/media/images/theme/gen/bk_overtab_active.png); }
